@model KartyPrzedmiotow2.Models.KartaDoWyswietleniaLiczbaGodzin

<div class="col-xs-12">
    @Html.DisplayFor(model => model.Typ) - @Html.DisplayFor(model => model.Stacjonarne)/@Html.DisplayFor(model => model.Niestacjonarne)
</div>