
@{
    ViewBag.Title = "Panel zarządzania metodami";
}

<h2>Panel zarządzania metodami</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Metody Dydaktyczne", "MetodyDydaktyczne", null, new { @class = "btn btn-default", @style = "margin-bottom:15px" })
    </div>
    <div>
        <br />
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Metody Oceniania", "MetodyOceniania", null, new { @class = "btn btn-default" })
    </div>
</div>
